<table class="striped">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Дата
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td>
                <a href="/news/{{this._id}}">{{this.title}}</a>
            </td>
            <td>{{this.date}}</td>
            <td>
                <a href="/news/update/{{this._id}}">Изменить</a> |
                <a href="/news/delete/{{this._id}}" onclick="return confirm('Do you real delete this record?');">Удалить</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/news/create" class="waves-effect waves-light btn">Создать</a>