.button
    appearance none
    align-items center
    background #DDD
    border 1px solid #DDD
    color #000
    display flex
    font-size 14px
    padding 7px 15px
    justify-content center
    outline none
    text-decoration none
    transition .15s ease-in
    &:hover
        background: #FFF
    &:disabled
        background #CCC !important
        color #888 !important
    &--with-icon
        justify-content flex-start
    &--primary
        background-color  #0d6efd
        border-color  #0d6efd
        color #FFF
        &:hover,
        &:focus
            background-color #0b5ed7
            border-color #0a58ca
        &:focus
            box-shadow 0 0 0 0.25rem rgb(49 132 253 / 50%)
    &--warning
        background-color #ffc107
        border-color #ffc107
        color #000
        &:hover,
        &:focus
            background-color #ffca2c
            border-color #ffc720
        &:focus
            box-shadow 0 0 0 0.25rem rgb(217 164 6 / 50%)
    &--danger
        background-color #dc3545
        border-color #dc3545
        color #FFF
        &:hover,
        &:focus
            background-color #bb2d3b
            border-color #b02a37
        &:focus
            box-shadow 0 0 0 0.25rem rgb(225 83 97 / 50%)
    &__icon
        flex-grow 0
        flex-shrink 0
        height 16px
        margin-right 10px
        overflow hidden
        width 16px
        ^[0]--icon-only &
            margin-right 0
        img, svg
            height auto
            max-height 100%
            max-width 100%
            width auto
    &__value
        ^[0]--icon-only &
            display none
