.chat
    display flex
    flex-direction column
    margin 0 auto
    width 400px
    &__messages
        border 1px solid #CCC
        height 400px
        overflow-y auto
        padding 5px
    &__message
        background blue
        color #FFF
        font-size 14px
        margin-top 10px
        padding 10px
        &:first-child
            margin-top 0
        &--output
            background yellow
            color #000
            text-align right
    &__input
        appearance none
        border 1px solid #CCC
        margin 10px 0
        outline none
        