.checkbox
    align-items center
    display flex
    &__field
        appearance none
        background #FFF center center no-repeat
        background-size 80%
        border 1px solid #CC
        flex-grow 0
        flex-shrink 0
        height 16px
        margin-right 10px
        overflow hidden
        outline none
        width 16px
        &:checked
            background-image url('../images/icons/check.svg')
