.dragzone
    margin 20px auto
    width 80%
    &__items
        background #FFF
        border 2px solid alpha(#CCC, 0.3)
        border-radius 10px
        display flex
        flex-wrap wrap
        min-height 350px
        overflow hidden
        padding 20px
        margin 0 -10px
        &--over
            border-color bs-
            position relative
            & > *
                z-index 1
            &:before
                background alpha(bs-secondary, .7) url('../images/upload.png') center center no-repeat
                background-size 150px auto
                bottom 0
                content ""
                display block
                left 0
                position absolute
                right 0
                top 0
                z-index 3
    &__item
        align-items center
        border 1px solid bs-secondary
        border-radius 10px
        display flex
        justify-content center
        margin 0 10px 20px
        min-height 150px
        width calc(20% - 20px)
    &__image
        height auto
        vertical-align top
        width 100%
    
