.form
    &__title
        font-size 16px
        font-weight bold
        line-height 1
        margin 0 0 10px
        padding 0
    &__control
        margin-top 20px
        &--file
            margin 20px auto 0
            max-height 220px
            max-width 220px
        &:first-child
            margin-top 0


