.gallery
    margin 40px auto
    width 80%
    &__items
        display flex
        flex-wrap wrap
        margin 0 -15px
    &__item
        align-items center
        background-color #FFF
        border 1px solid bs-gray
        display flex
        justify-content center
        margin 0 15px 30px
        outline none
        padding 5px
        text-decoration none
        transition .15s ease-in
        width calc(25% - 30px)
        &:focus,
        &:hover
            border-color bs-blue
        img
            height auto
            width 100%
            vertical-align top
