.input
    align-items center
    background #FFF
    border 1px solid #CCC
    color #CCC
    display flex
    padding 7px 14px
    &--file
        cursor pointer
        img, svg
            height auto
            max-height 100%
            max-width 100%
            width auto
    &__icon
        flex-grow 0
        flex-shrink 0
        height 16px
        margin-right 10px
        overflow hidden
        width 16px
        ^[0]--icon-only &
            margin-right 0
        img, svg
            height auto
            max-height 100%
            max-width 100%
            width auto
    &__field
        appearance none
        border none
        flex-grow 1
        font-size 14px
        outline none
        &--file
            display none
