.pagination
    display flex
    justify-content center
    &__items
        align-items stretch 
        display flex
        list-style none
        margin 0 -5px
        padding 0
    &__item
        margin 0 5px
        &--disable
            display none
    &__link
        align-items center
        border 1px solid transparent
        border-radius 5px
        color bs-blue
        display flex
        font-size 18px
        height 40px
        justify-content center
        min-width: 40px
        outline none
        text-decoration none
        transition .15s ease-in
        &:focus
            border-color alpha(bs-blue, .5)
        &:hover,
        ^[0]__item--active &
            background-color bs-blue
            border-color bs-blue
            color #FFF
        