.page-login
    align-items center
    background #DDD
    display flex
    justify-content center
    &--with-background
        background url('../images/backgrounds/login.jpg') center center no-repeat
        background-size cover
    &__form
        background #FFF
        padding 20px
    &__enter
        width 100%
